<div class="user-details">
    <mat-list>
        <mat-list-item class="text-align-center">
            <span class="mat-h2">User details</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Name: </span>
            <span class="mat-h3">Example</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">E-mail: </span>
            <span class="mat-h3">example.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Telephone: </span>
            <span class="mat-h3">+123 (12) 111000222</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Adress: </span>
            <span class="mat-h3">Example Street, 1, Example - EX</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Active Subscription: </span>
            <span class="mat-h3">Yes</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Role: </span>
            <span class="mat-h3">Example</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Registration Date: </span>
            <span class="mat-h3">01/02/1234</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
