<div class="user-details">
    <mat-list>
        <mat-list-item class="text-align-center">
            <span class="mat-h2">User details</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Name: </span>
            <span class="mat-h3">{{ user.name | dashIfEmpty }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">E-mail: </span>
            <span class="mat-h3">{{ user.email | dashIfEmpty }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Telephone: </span>
            <span class="mat-h3">{{ user.phone | phone }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Address: </span>
            <span class="mat-h3">{{ user.address | address }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Status: </span>
            <span class="mat-h3">{{ user.active | status }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Role: </span>
            <span class="mat-h3">{{ user.role | dashIfEmpty }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Registration Date: </span>
            <span class="mat-h3">{{ user.registrationDate | date:'dd/MM/yyyy' | dashIfEmpty }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
