<div class="user-details">
    <mat-list>
        <mat-list-item class="text-align-center">
            <span class="mat-h2">User details</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Name: </span>
            <span class="mat-h3">{{ user.name }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">E-mail: </span>
            <span class="mat-h3">{{ user.email }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Telephone: </span>
            <span class="mat-h3">{{ user.phone | phone }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Address: </span>
            <span class="mat-h3">{{ user.address | address }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Active Subscription: </span>
            <span class="mat-h3">{{ user.active }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Role: </span>
            <span class="mat-h3">{{ user.role }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-h2">Registration Date: </span>
            <span class="mat-h3">{{ user.registrationDate }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
